{% extends 'base/base.html'%}

{% block title %}APUESTAS {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
    body {
    background: url('static/imagenes/loginfondo.png') center center fixed;
    background-size: cover;
    color: #ffd700;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
</style>
</head>
<body>   
    <div class="header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <img src="static/imagenes/logo.png" alt="Image description">
                <a class="navbar-brand" href="#">Lucky Shot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ms-auto"> <!-- Changed to ms-auto for right alignment -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
<div class="menu">
    <a href="#">Show by:</a>
    <a href="#">Events</a>
    <a href="#">Sports</a>
</div>
<div class="grid-container">
    <div class="vista-previa">
        <a href="pagina1.html" >
            <img src="static/imagenes/futbol.jpg" alt="Vista Previa 1">
            <div class="titulo-overlay">Futbol</div>
        </a>
    </div>

    <div class="vista-previa">
        <a href="pagina1.html">
            <img src="static/imagenes/Ball_Basket_.jpg" alt="Vista Previa 1">
            <div class="titulo-overlay">Basketball</div>
        </a>
    </div>
    <div class="vista-previa">
        <a href="pagina1.html">
            <img src="static/imagenes/Tenis.jpg" alt="Vista Previa 1">
            <div class="titulo-overlay">Tenis</div>
        </a>
    </div> 
    <div class="vista-previa">
        <a href="pagina1.html">
            <img src="static/imagenes/Carreras de caballos.jpg" alt="Vista Previa 1">
            <div class="titulo-overlay">Carreras de caballos</div>
        </a>
    </div>
    <div class="vista-previa">
        <a href="pagina1.html">
            <img src="static/imagenes/Boxeo.jpg" alt="Vista Previa 1">
            <div class="titulo-overlay">Boxeo</div>
        </a>
    </div>
    
</div>
</body>
</html>
{% endblock content%}