{% extends 'base/base.html'%}

{% block title %}APUESTAS {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/home/luis-covarrubias/Documentos/Python/Proyecto/LuckyShot/templates/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
</style>
</head>
<body>   
<div class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <img src="logo.png" alt="Descripción de la imagen">
          <a class="navbar-brand" href="#">Lucky Shot</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
                <ul class="dropdown-menu dropdown-menu-start">
                  <li><a class="dropdown-item" href="#">Link</a></li>
                  <li><a class="dropdown-item" href="#">Another link</a></li>
                  <li><a class="dropdown-item" href="#">A third link</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>      
</div>
<div class="menu">
    <a href="#">Show by:</a>
    <a href="#">Events</a>
    <a href="#">Sports</a>
</div>
<div class="grid-container">
    <div class="vista-previa">
        <a href="pagina1.html" >
            <img src="futbol.jpg" alt="Vista Previa 1">
            <div class="titulo-overlay">Futbol</div>
        </a>
    </div>

    <div class="vista-previa">
        <a href="pagina1.html">
            <img src="Ball_Basket_.jpg" alt="Vista Previa 1">
            <div class="titulo-overlay">Basketball</div>
        </a>
    </div>
    <div class="vista-previa">
        <a href="pagina1.html">
            <img src="Tenis.jpg" alt="Vista Previa 1">
            <div class="titulo-overlay">Tenis</div>
        </a>
    </div> 
    <div class="vista-previa">
        <a href="pagina1.html">
            <img src="Carreras de caballos.jpg" alt="Vista Previa 1">
            <div class="titulo-overlay">Carreras de caballos</div>
        </a>
    </div>
    <div class="vista-previa">
        <a href="pagina1.html">
            <img src="Boxeo.jpg" alt="Vista Previa 1">
            <div class="titulo-overlay">Boxeo</div>
        </a>
    </div>
    
</div>
</body>
</html>
{% endblock content%}