{% extends 'base/base.html'%}

{% block title %}APUESTAS {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Submit Support Ticket</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Enlace a tu CSS personalizado -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Enlace a la librería toastr para notificaciones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <style>
        body {
        background: url('static/imagenes/loginfondo.png') center center fixed;
        background-size: cover;
        color: #ffd700;
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <img src="static/imagenes/logo.png" alt="Image description">
                <a class="navbar-brand" href="#">Lucky Shot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ms-auto"> <!-- Changed to ms-auto for right alignment -->
                        <li class="nav-item">
                            <a class="nav-link" href="apuestas_usuario">Bets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="profile_view">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="problems">Support</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login_usuario">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>



<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Submit Support Ticket</h4>
                </div>
                <div class="card-body">

                    <form id="supportForm">
                        <div class="form-group">
                            <label for="errorDescription">Error Description</label>
                            <textarea class="form-control" id="errorDescription" rows="3" placeholder="Describe the error..."></textarea>
                        </div>

                        <a href="apuestas_usuario" type="button" class="btn btn-primary" onclick="submitTicket()">Submit Ticket</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    function submitTicket() {
        toastr.success('Submitted to support successfully!');
        document.getElementById('supportForm').reset();
    }
</script>

</body>
</html>

{% endblock content%}